Repository learnhubmk/api, pull requests merged in 2024-04, with the labels that each got.

#64 [#56] Implement admin sign in API endpoint
  .scribe/endpoints.cache/00.yaml
  .scribe/endpoints/00.yaml
  app/Admin/database/seeders/AdminSeeder.php
  app/Admin/routes/admin-routes.php
  app/Admin/src/Http/Controllers/Auth/AuthController.php
  app/Admin/src/Http/Requests/Auth/LoginRequest.php
  app/Admin/src/Http/Requests/Auth/LogoutRequest.php
  app/Admin/src/Http/Resources/Auth/AuthenticatedAdminResource.php
  app/Providers/AppServiceProvider.php
  config/scribe.php
  database/seeders/DatabaseSeeder.php
  public/docs/collection.json
  public/docs/index.html
  public/docs/js/theme-default-4.35.0.js
  public/docs/js/tryitout-4.35.0.js
  public/docs/openapi.yaml
  routes/api.php
Labels: API, backend, admin module

#63 [Website] Implement the contact API endpoint
  .scribe/.filehashes
  .scribe/endpoints.cache/00.yaml
  .scribe/endpoints/00.yaml
  .scribe/intro.md
  app/Providers/AppServiceProvider.php
  app/Website/resources/views/mail/contact.blade.php
  app/Website/routes/website-routes.php
  app/Website/src/Http/Controllers/ContactFormController.php
  app/Website/src/Http/Requests/ContactFormRequest.php
  app/Website/src/Mail/ContactMail.php
  app/Website/tests/Feature/ContactFormControllerTest.php
  composer.json
  composer.lock
  config/horizon.php
  config/mail.php
  config/services.php
  phpunit.xml
  public/docs/collection.json
  public/docs/index.html
  public/docs/openapi.yaml
Labels: enhancement, website module

#96 71 - [BE] Content Sign In API Implementation
  .scribe/endpoints.cache/00.yaml
  .scribe/endpoints.cache/01.yaml
  .scribe/endpoints.cache/02.yaml
  .scribe/endpoints.cache/03.yaml
  .scribe/endpoints/00.yaml
  .scribe/endpoints/01.yaml
  .scribe/endpoints/02.yaml
  .scribe/endpoints/03.yaml
  app/Admin/routes/admin-routes.php
  app/Content/database/seeders/ContentManagerSeeder.php
  app/Content/routes/content-routes.php
  app/Content/src/Http/Controllers/Auth/AuthController.php
  app/Content/src/Http/Requests/Auth/LoginRequest.php
  app/Content/src/Http/Requests/Auth/LogoutRequest.php
  app/Content/src/Http/Resources/Auth/AuthenticatedContentManagerResource.php
  app/Platform/Enums/RoleName.php
  app/Platform/database/seeders/RoleSeeder.php
  app/Providers/AppServiceProvider.php
  database/seeders/DatabaseSeeder.php
  public/docs/collection.json
  public/docs/index.html
  public/docs/openapi.yaml
Labels: API, backend, content module

#98 [97] - Fix: Add Content Manager Role Via Migration
  app/Platform/database/seeders/RoleSeeder.php
  database/migrations/2024_04_29_093116_insert_content_manager_role_into_roles_table.php
Labels: bug, API, backend, content module
